$white: #fff;
$black: #000;
$primary: #37467e;
$primary-light: rgba(55, 70, 126, 0.75);
$primary-hover: #31458c;
$grey: #4c4c4c;
$light-grey: #969696;
$lighter-grey: #777;
$dark-grey: #4d4d4d;
$grey-e: #eee;
$input-border: #e1e7f6;
$input-color: #4a4b74;
$red: #fe2842;
$light-red: #f96e62;
$success: #71be44;
$dark-white: #f3f6ff;
$divider: #e1eaff;
$divider-light: #e9e9e9;
$link-color: #4c4d75;
$placeholder-text: #222222;
$btn-border: #c0cce8;
$text-color: #2c3763;
$green-star: #8ae99a;
$date: #8f91a7;
$accordian-bg: #f0f4ff;
$listbg: #e1e1e8;
$vital-bg: rgba(74, 75, 116, 0.16);
$label-color: #7c86a2;
$upload-to: #f89458;
$upload-from: #f96165;
$para: #3c5467;
$logout: #41474a;
$light-black: #393939;
$text-bg: #f5f5f5;
$danger: #f55454;
$date-head: #353f47;
$appointments: #f5a623;
$appointments-light: #d68a0d;
$event: #40a140;
$event-light: #018200;
$goals: #ff6f6f;
$goals-light: rgba(255, 111, 111, 0.75);
$day-number: #312f2f;
$calander-border: #d0d5d9;
$weakend-date: #e45b22;
$out-month: #aaadb9;
$cal-event-border: #d4d7e3;
$cal-hour: #f7f7f8;
$green-switch: #3fb42d;
$dark-green-switch: #00bb64;
$red-toggle: #ff5f71;
$disable-input: rgba(76, 76, 76, 0.5);
$danger: #e81313;
$noon: #d3d3d9;
$checked-bg: #e1f9e5;
$disable-checkbox-bg: #f2f2f2;
$disable-checkbox-color: #bababa;
$sort-icon: #b6b6b6;
$unread-notifications: #f0f1f3;
$tab-color: #8485a6;
$dashboard-grey: #4a4a4a;
$graph-label: #22a7ff;
$todo: #3881ec;
$placeholder: #9aa6c1;

$asset-base-path: '../images';